# This is a basic workflow to help you get started with Actions

name: OpenPL Builder

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop, main, master ]
  pull_request:
    branches: [ develop, main, master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_mac:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Move to OpenPL folder
        run: cd OpenPL
        
      - name: Check folder
        run: pwd
        
      - name: List files
        run: ls
      
      - name: Run Setup
        run: ./Setup.sh
 
      - name: Build with xcodebuild
        run: xcodebuild -project Builds/MacOSX/OpenPL.xcodeproj
